{% extends "base.html" %}

{% load static %}

{% block title %} Banio {% endblock title %}

{% block content %}
<main class="container">
    <header class="header-text">
        <h1><span class="badge rounded-pill bg-success justify-content-center"> {{ nombre }} </span> </h1>
    </header>
    
    <div class="contenedorb-carlito">
        <img src="{% static 'mm/slays/burbuj2a.png' %}" class="mx-auto d-block img-fluid carl-sex3">
        <form action="{% url "bathroom" %}" method="POST" preventDefault id="req-form">
            {% csrf_token %}
            <button class="button_submit btn btn-primary"> Pegate un baño!! </button>
        </form>    
    </div>
</main>
{% endblock content %}