{% extends "base.html" %}

{% load static %}

{% block title %} Banio {% endblock title %}

{% block content %}
<main class="container">
    <header class="header-text">
        <h1><span class="badge rounded-pill bg-success justify-content-center"> {{ nombre }} </span> </h1>
    </header>
    
    <div class="contenedor-carlito">
        <img src="{% static 'mm/slays/Sprite-0001.png' %}" class="mx-auto d-block img-fluid carl-sex">
        <button class="button_submit btn btn-primary"> Pegate un baño!! </button>
    </div>
</main>
{% endblock content %}